<div class="bg-white pb-6 sm:pb-8 lg:pb-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">

    <section class="min-h-96 flex justify-center items-center flex-1 shrink-0 bg-gray-100 overflow-hidden shadow-lg rounded-lg relative py-16 md:py-20 xl:py-48">
      <!-- image - start -->
      <%= image_tag "Top3.jpg", class: "w-full h-full object-cover object-center absolute inset-0" %>
      <div class="sm:max-w-xl flex flex-col items-center relative p-4">
        <h1 class="text-white text-4xl sm:text-5xl md:text-6xl font-bold text-center mb-8 md:mb-12"><%= (t '.catchcopy') %></h1>
        <p class="text-white"><%= (t '.description')%></p>
        <br>
        <% if !logged_in? %>
          <div class="w-full flex flex-col sm:flex-row sm:justify-center gap-2.5">
            <%= link_to (t 'defaults.register'), new_user_path, class: "btn btn-accent text-white" %>
          </div>
        <% end %>  
      </div>
    </section>
  </div>
</div>

<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="md:h-80 flex flex-col sm:flex-row bg-white rounded-lg overflow-hidden">
      <%= image_tag 'item.png', class: 'h-full w-auto justify-center items-center' %>
      <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
        <h2 class="text-gray-800 text-xl md:text-2xl lg:text-4xl font-bold mb-4"><%= (t '.gadget') %></h2>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="md:h-80 flex flex-col sm:flex-row-reverse items-center justify-between bg-white rounded-lg overflow-hidden">
      <%= image_tag 'image.png', class: 'h-full w-auto justify-center items-center'  %>
      <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
        <h3 class="text-gray-800 text-xl md:text-2xl lg:text-4xl font-bold mb-4"><%= (t '.image') %></h3>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="md:h-80 flex flex-col sm:flex-row bg-white rounded-lg overflow-hidden">
      <%= image_tag 'index.jpg', class: 'h-full w-auto justify-center items-center' %>
      <div class="w-full sm:w-1/2 lg:w-3/5 flex flex-col p-4 sm:p-8">
        <h2 class="text-gray-800 text-xl md:text-2xl lg:text-4xl font-bold mb-4"><%= (t '.share') %></h2>

        <p class="max-w-md text-gray-600 mb-8"></p>

      </div>
    </div>
  </div>
</div>
