<% if logged_in? %>
  <%= form_with model: comment, url: [post, comment], class: "w-full max-w-xl bg-white rounded-lg px-4 pt-2", remote: true, id: 'comment-form' do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden">
        <%= link_to image_tag(current_user.decorate.avatar.variant(resize: "100x100^", gravity: "center", crop: "100x100+0+0")), user_path(current_user), class: 'rounded-circle avatar-sm' %>
      </div>
      <%= f.text_area :body, class: "bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white",
                             placeholder: 'コメントを入力してください' %>
    </div>
    <div class="w-full md:w-full flex items-start md:w-full px-3">
      <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto">
      </div>
      <div class="-mr-1">
        <%= f.submit 'コメントする', class: "bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-5 hover:bg-gray-100" %>
      </div>
    </div>
  <% end %>
<% end %>
