<%= form_with model: user, class: "contents", local: true, class: "px-8 pt-6 pb-8 mb-4 bg-white rounded" do |f| %>
  <%= render "shared/error_messages", object: f.object %>
		<div class="mb-4">
      <%= f.label :user_name, class: 'block mb-2 text-sm font-bold text-gray-700' %>
      <%= f.text_field :user_name, class: 'w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline' %>
		</div>

		<div class="mb-4">
      <%= f.label :email, class: 'block mb-2 text-sm font-bold text-gray-700' %>
			<%= f.text_field :email, class: 'w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline' %>
		</div>

		<div class="mb-4">
		  <%= f.label :password, class: 'block mb-2 text-sm font-bold text-gray-700' %>
			<%= f.password_field :password, class: 'w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline', placeholder: 'パスワードは6文字以上で入力してください' %>
		</div>

		<div class="mb-4">
			<%= f.label :password_confirmation, class: 'block mb-2 text-sm font-bold text-gray-700' %>
			<%= f.password_field :password_confirmation, class: 'w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline' %>
		</div>


		<div class="mb-4">
			<%= f.label :avatar, class: 'block mb-2 text-sm font-bold text-gray-700' %>
			<%= f.file_field :avatar, class: 'w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline' %>
      <% if user.avatar.attached? %>
        <%= image_tag user.avatar %>
      <% end %>  
		</div>

		<div class="mb-6 text-center">
			<%= f.submit class: "w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline" %>
		</div>

    <% unless logged_in? %>
			<hr class="mb-6 border-t" />
			<div class="text-center">					
				<%= link_to 'Already have an account? Login!', login_path, class: "w-full hidden lg:inline-block bg-1D9BF0 hover:bg-gray-300 focus-visible:ring ring-indigo-300 text-white active:text-gray-700 text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" %>
      </div>
			<%= link_to auth_at_provider_path(provider: :twitter), class: "w-full hidden lg:inline-block bg-1D9BF0 hover:bg-gray-300 focus-visible:ring ring-indigo-300 text-white active:text-gray-700 text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3", style: "background-color: #1D9BF0;" do %>
    <i class="fa-brands fa-twitter" style="color: #ffffff;"></i> Twitterでログイン
  <% end %>
    <% end %>

<% end %>
