<%= form_with model: post, class: "contents post-form", id: 'post_form', local: true, data: { controller: "images" } do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class='flex flex-row'>
    <div class="my-5" data-controller="modal">
      <%= link_to image_tag('new_posts.svg', size: '1000x400' ), '#', data: { action: "click->modal#open" } %>
      <div data-modal-target="container"
          data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard"
        class="hidden bg-gray-300 bg-opacity-50 fixed inset-0 overflow-y-auto flex items-center justify-center"
        style="z-index: 9999;"
        >
        <div class="max-h-screen w-full max-w-2lg relative">
          <div class="bg-white shadow-xl">
            <div class="p-8">
              <div class="my-5" data-controller="modal">
                <%= f.label :images %>
                <%= f.file_field :images, multiple: true, accept: "image/jpeg, image/gif, image/png",class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full", data: { images_target: "select", action: "change->images#selectImages" } %>
              </div>
              <div data-images-target="preview">
                <% if post.images.attached? %>
                  <% post.images.each do |image| %>
                    <div class="image-box inline-flex mx-1 mb-5" data-controller="images" data-images-target= "image_box">
                      <div class="text-center">
                        <%= image_tag image, width: "100" %>
                        <a class="link cursor-pointer" data-action="click->images#deleteImage">削除</a>
                        <%= f.hidden_field :images, name: "post[images][]", style: "display: none", value: "#{image.blob.id}" %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-col justfy-center">
      <div class="my-5">
        <%= f.label :description %>
        <%= f.text_area :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-5/6", value: params[:item_id] %>
      </div>
      <div class="my-5">
        <%= f.label :business_attribute %>
        <%= f.select :business_attribute, Post.business_attributes_i18n.invert, {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-5/6" %>
      </div>
      <div class="my-5">
        <%= f.label :age_group %>
        <%= f.select :age_group, Post.age_groups_i18n.invert, {}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-5/6" %>
      </div>
      <div class="my-5">
        <%= f.label :tag_names %>
        <%= f.text_field :tag_names, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-5/6", placeholder: ',で区切って入力してください' %>
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <% if current_user.items.present? %>
      <h2 class="text-2xl font-bold text-gray-900">Items</h2>
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <div class="flex flex-row gap-12">
          <% current_user.items.each do |item| %>
            <div class="group relative flex flex-col items-center w-full">
              <div class="min-h-80 overflow-hidden rounded-md bg-gray-200 lg:h-80 group-hover:opacity-75 flex items-center justify-center" style="aspect-ratio: 1 / 1;">
                <img src="<%= item.image %>" alt="" class="w-full h-full object-contain object-center" style="max-width: 128px; max-height: 128px; min-width: 128px; min-height: 128px;">
              </div>
              <div class="absolute top-0 left-0 m-2">
                <%= link_to item_path(item), data: { turbo_method: :delete}, remote: true do %>
                  <i class="fas fa-times text-red-500 hover:text-red-700"></i>
                <% end %>
              </div>
              <h3 class="mt-6 text-sm text-gray-500">
                <span class="inset-0"></span>
                <%= item.maker %>
              </h3>
              <p class="text-base font-semibold text-gray-900">
                <div class="flex justify-between items-center w-full">
                  <% if item.name.length > 10 %>
                    <div>
                      <%= link_to truncate(item.name, length: 40, separator: ' '), "#{item.rakuten_url}" %>
                      <div class="text-blue-500 hover:text-blue-800 cursor-pointer ml-1" onclick="document.getElementById('modal-<%= item.item_code %>').classList.add('opacity-100', 'pointer-events-auto');">Show more</div>
                      <div id="modal-<%= item.item_code %>" class="fixed inset-0 z-10 bg-gray-800 bg-opacity-50 flex items-center justify-center opacity-0 pointer-events-none">
                        <div class="bg-white rounded-lg p-4 max-w-lg mx-auto my-auto">
                          <b><%= item.name %></b>
                          <p><%= item.caption %></p>
                          <div class="mt-4 text-sm font-medium text-gray-500 hover:text-gray-800 cursor-pointer" onclick="document.getElementById('modal-<%= item.item_code %>').classList.remove('opacity-100', 'pointer-events-auto');">閉じる</div>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <%= link_to item.name, "#{item.rakuten_url}" %>
                  <% end %>
                </div>
              </p>
            </div>
            <%= f.hidden_field :item_ids, name: "post[item_ids][]", value: "#{item.id}" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="inline flex justify-center">
    <%= f.submit name: "submit_post", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
<div class="search-form">
  <%= render 'items/search' %>
</div>
