<%= search_form_for @q, url: posts_path do |f| %>
  <div class="relative">
    <%= f.search_field :items_name_or_items_caption_or_items_maker_cont, class: "block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "アイテム名、メーカー名を入力" %>
    <%= f.submit value: 'search', class: "absolute right-0 top-0 mt-2 mr-10 text-sm text-white right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  </div>
<% end %>
<br>

<div class="flex_test-box">
  <% if @posts.present? %>
    <%= render @posts %>
  <% else %>
    <p>掲示板がありません</p>
  <% end %>
  <%= paginate @posts %>
</div>
