<div class="h-full w-full flex justify-center items-center">
  <div class="rounded overflow-hidden border w-full lg:w-6/12 md:w-6/12 bg-white mx-3 md:mx-0 lg:mx-0">
    <div class="w-full flex justify-between p-3">
      <div class="flex">
        <div class="rounded-full h-8 w-8 bg-gray-500 flex items-center justify-center overflow-hidden">
          <%= link_to image_tag(@post.user.decorate.avatar.variant( resize: "100x100^", gravity: "center", crop: "100x100+0+0" )), user_path(@post.user), class: 'rounded-circle avatar-sm' %>
        </div>
        <span class='pt-1 ml-2 font-bold text-sm'><%= link_to @post.user.user_name, user_path(@post.user) %></span>
      </div>
      <% if @post.user == current_user %>
        <div class="relative inline-block text-left" data-controller="dropdown">
          <span class="px-2 hover:bg-gray-300 cursor-pointer rounded" data-action="click->dropdown#toggleMenu">
            <i class="fas fa-ellipsis-h pt-2 text-lg"></i>
          </span>
          <div class="hidden mt-2 origin-top-right absolute right-0 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-10" data-dropdown-target="menu">
            <div class="py-1" role="menu" aria-orientation="vertical">
              <%= link_to "編集", edit_post_path(@post), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" %>
              <%= link_to "削除", post_path(@post), class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100", data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div data-controller="image-slider" class="carousel w-full">
      <% @post.images.each.with_index do |image, index| %>
        <div id="slide<%= index + 1 %>" class="carousel-item relative w-full" data-image-slider-target="slide" style="display: <%= index == 0 ? 'block' : 'none' %>">
          <%= image_tag(image.blob.variant(resize_to_fill: [1000, 600])) %>
          <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <%= link_to "❮", "#slide#{(index - 1 + @post.images.size) % @post.images.size + 1}", class: "btn btn-circle left-arrow", data: { action: "image-slider#previousSlide", image_slider_target: "arrow" } %>
            <%= link_to "❯", "#slide#{(index + 1) % @post.images.size + 1}", class: "btn btn-circle right-arrow", data: { action: "image-slider#nextSlide", image_slider_target: "arrow" } %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="px-3 pb-2">
      <div class="pt-2">
        <span class="text text-gray-400 font-medium"><%= @post.age_group_i18n + @post.business_attribute_i18n %></span>
      </div>
      <div>
        <%= render 'posts/bookmark_button', post: @post  %>
      </div>
      <div class="pt-1">
        <% @post.tags.each do |tag| %>
          <%= link_to "#" + tag.name, '#', class: "mb-2 text-sm text-gray-500" %>
        <% end %>
        <div class="mb-2 text-sm">
          <div class="pt-3">
            <%= @post.description %>
          </div>
          <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
            <% if @post.user.items.present? %>
              <h2 class="text-2xl font-bold text-gray-900"><%= @post.user.user_name %>さんのガジェット</h2>
              <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                <div class="flex flex-row gap-12">
                  <% @post.items.each do |item| %>
                    <div class="group relative flex flex-col items-center w-full">
                      <div class="min-h-80 overflow-hidden rounded-md bg-gray-200 lg:h-80 group-hover:opacity-75 flex items-center justify-center" style="aspect-ratio: 1 / 1;">
                        <img src="<%= item.image %>" alt="" class="w-full h-full object-contain object-center" style="max-width: 128px; max-height: 128px; min-width: 128px; min-height: 128px;">
                      </div>
                      <h3 class="mt-6 text-sm text-gray-500">
                        <span class="inset-0"></span>
                        <%= item.maker %>
                      </h3>
                      <p class="text-base font-semibold text-gray-900">
                        <div class="flex justify-between items-center w-full">
                          <% if item.name.length > 20 %>
                            <div>
                              <%= link_to truncate(item.name, length: 40, separator: ' '), "#{item.rakuten_url}" %>
                              <h1 class="text-base font-bold text-gray-700 dark:text-gray-200 md:text-xl"><%= number_to_currency(item.price, unit: '¥', delimiter: ',', format: '%u%n') %></h1>
                              <div class="text-blue-500 hover:text-blue-800 cursor-pointer ml-1" onclick="document.getElementById('modal-<%= item.item_code %>').classList.add('opacity-100', 'pointer-events-auto');">Show more</div>
                              <div id="modal-<%= item.item_code %>" class="fixed inset-0 z-10 bg-gray-800 bg-opacity-50 flex items-center justify-center opacity-0 pointer-events-none">
                                <div class="bg-white rounded-lg p-4 max-w-lg mx-auto my-auto">
                                  <b><%= item.name %></b>
                                  <p><%= item.caption %></p>
                                  <div class="mt-4 text-sm font-medium text-gray-500 hover:text-gray-800 cursor-pointer" onclick="document.getElementById('modal-<%= item.item_code %>').classList.remove('opacity-100', 'pointer-events-auto');">閉じる</div>
                                </div>
                              </div>
                            </div>
                          <% else %>
                            <%= link_to item.name, "#{item.rakuten_url}" %>
                            <h1 class="text-base font-bold text-gray-700 dark:text-gray-200 md:text-xl"><%= number_to_currency(item.price, unit: '¥', delimiter: ',', format: '%u%n') %></h1>
                          <% end %>
                        </div>
                      </p>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <%= link_to "https://twitter.com/share?text=#{@post.user.user_name}さんの自慢のデスクです✨ %0a %23Deskography%23デスクツアー%23リモートワーク%0a&url=#{request.url}", title: 'Twitter', target: '_blank' do %>
        <i class="fab fa-twitter fa-2x" style='color: #3399FF;'></i>
      <% end %>
      <div class="flex justify-center">
        <%= render 'comments/form', { post: @post, comment: @comment } %>
      </div>
      <br/>
      <br/>
      <div class="flex justify-center">
        <%= render 'comments/comments', { comments: @comments } %>
      </div>
    </div>
  </div>
</div>
